# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.vscode/
.idea/
.DS_Store

# testing
coverage/

# optional cache
.cache/